%section.sign_in.container
#bg

  .container-fluid
    .row-fluid
      %h1 Sign In
      %br
      .well
        = form_tag '/login', class: 'form-horizontal' do
          %br
            = label_tag :email
            = email_field_tag :email
          %br

            = label_tag :password
            = password_field_tag :password
          %br

            = submit_tag "login"

#bottompad