%section.sign_in.container
#bg

  .container-fluid
    .row-fluid
      %h1 Sign In
      %br
      .well
        = form_tag sessions_path, class: 'sign_in' do
          %fieldset
            %br
            .form-group
              .row
                %label.col-md-2.control-label
                .col-lg-7
                  = label_tag :email, "Email Address"
                  = email_field_tag :email 
            .form-group
              .row
                %label.col-md-2.control-label
                .col-lg-7
                  = label_tag :password, "Password"
                  = password_field_tag :password
          %fieldset.actions.control-group.col-sm-offset-2
            %input(type="submit" value="Sign in" class="btn btn-primary")

#bottompad