%section.sign_in.container
#bg

  .container-fluid
    .row-fluid
      %h1 Sign In
      %br
        .span6.offset-2
          = bootstrap_form_for login_path, class: 'span.input-group' do
            %br
              = label_tag :email
              = email_field_tag :email
            %br
              = label_tag :password
              = password_field_tag :password
            %br
              = submit_tag "login", class: 'btn btn-primary'
  %br
  %br
#bottompad