%section.register.container
#toppad
#bg

  .container-fluid
    .row-fluid
      %h1 Register
      %br
      .well
        = bootstrap_form_for @user, html: { class: "form-horizontal"} do |f|
          %form.form-horizontal{role: "form"}
            .form-group
              %label.col-md-2.control-label
              .col-sm-8
                = f.full_name_field :full_name, label: "Full Name", class: "form.form-inline"
                = f.email_field :email, label: "Email Address", class: "form.form-inline"
                = f.user_name_field :user_name, label: "User Name", class: "form.form-inline"
                = f.password_field :password
                %button.btn.btn-primary{type: "submit"} Complete Free Registration
            .row

#bottompad