= render 'shared/messages', obj: @post
= form_for @post do |f|
  = f.label :title
  = f.text_field :title, placeholder: "Post title here..."
  %br/
  = f.label :post_url
  = f.text_field :post_url, placeholder: "Web link here..."
  %br/
  = f.label :description
  = f.text_field :description, placeholder: "Your description/comment goes here..."
  %br/
  = hidden_field_tag :category, "1"
  %br/
  %input(type="Submit" value="Create Post" class='btn btn-info')