%article.new_posts
#bg
  %ul

  = form_for @post do |f|
    .row-fluid
    - if logged_in?
      .container-fluid
        .row.offset2
          %h4 Add your post:
      .container-fluid
        .row-fluid
          .span2
            .well
              .text-center
                %input(type="submit" value="Submit" class="btn btn-info")
                %p
                = link_to "Cancel",  @posts, :class => "btn"
          .span9
            = f.text_area :title, class: 'col-md-10', placeholder: 'Type your title here...'
            = f.text_area :post_url,  class: 'col-md-10', placeholder: 'Type the page link here...'
            = f.text_area :description, rows: 5, class: 'col-md-10', placeholder: 'Type your description here...'
            %p
            = f.select :category_id, options_for_select(Category.all.map {|category| [category.name, category.id]})

#bottompad