%article.posts_search
#bg
  .container-fluid
    .row-fluid
    %h3 Search Results
  %ul
  .container-fluid
    .row-fluid
    %h4 Posts:
    - @post_search_results.each do |post|
      .container-fluid
        .row-fluid    
          .span2
          .span9
            .well
              %h4
                = link_to post_path(post), nil do
                  #{post.title}
              %small posted by #{post.creator.user_name} on #{display_datetime(post.created_at)} 

  %ul
  .container-fluid
    .row-fluid
    %h4 Comments:
    - @comment_search_results.each do |comment|
      .container-fluid
        .row-fluid    
          .span2
          .span9
            .well
              %h4 
                #{comment.content}
              %small posted by #{comment.creator.user_name} on #{display_datetime(comment.created_at)} 

  - if @post_search_results == [] && @comment_search_results == []
    .container-fluid
      .row-fluid    
        .span2
        .span9
          .well
            %h4 Sorry, there were no results for your search term.

  %br

#bottompad