%article.posts
#bg

  .container-fluid
    .row-fluid
    %h3= @post.title
  %ul
    .container-fluid
      .row-fluid
        .span2
          .well
            .text-center
              %h4
                .btn-toolbar
                  .btn-group
                  %span
                    - if logged_in?
                      = link_to vote_post_path(@post, vote: true), method: 'post', remote: true, class: 'btn btn-success btn-default', id: "Post_#{@post.id}_upvote" do
                        %i.icon-circle-arrow-up
                      %i.btn.btn-default{:id => "post_#{@post.id}_votes"}= @post.total_votes
                      = link_to vote_post_path(@post, vote: false), method: 'post', remote: true, class: 'btn btn-danger btn-default', id: "Post_#{@post.id}_downvote" do
                        %i.icon-circle-arrow-down
                    - else
                      %span
                        %i.btn.btn-small{:id => "post_#{@post.id}_votes"}= @post.total_votes
                      %h5
                        votes
        .span9
          .well
            %h4= link_to "#{@post.description}", @post.post_url
            %small
              posted by #{@post.creator.user_name} on #{display_datetime(@post.created_at)} 

  %section.add_comments
  - if logged_in?
    .container-fluid
      .row-fluid
        .span3
          %h4 Add your comment:
    %ul
      = form_for [@post, Comment.new] do |f|
        %ul
        .container-fluid
          .row-fluid
            .span2
              .well
                .text-center
                  %input(type="submit" value="Submit" class="btn btn-info")
                  %p
                  = link_to "Cancel",  @post, :class => "btn"
            .span9
              = f.text_area :content, rows: 5, class: 'col-sm-12', placeholder: 'Type your comment here...'

  %section.user_comments
  .container-fluid
    .row-fluid
      .span3
        %h4 User Comments:
  %ul
    - @comments.each do |comment|
      %ul
      .container-fluid
        .row-fluid
          .span2
            %br
          .span9
            .well
              %p= comment.content
              %hr.divider
              %small posted by #{comment.creator.user_name} on #{display_datetime(comment.created_at)}
    %br

#bottompad