%article.posts
#bg
  .container.fluid
    .row
    %h3= @post.title
  %ul
  .container-fluid
    .row-fluid
      .span2
        .well
          .text-center
            %h4
            .btn-toolbar
              .btn-group
                %h5
                  %i.icon-circle-arrow-up
                  votes
                  %i.icon-circle-arrow-down
      .span9
        .well
          %h4= link_to "#{@post.description}", @post.post_url
          %small
            posted on #{display_datetime(@post.created_at)}
  %section.comments.container-fluid
    .row
      .col-sm-10.col-sm-offset-1
        %header
          %h3 User Comments = 0

        %ul
          - @comments.each do |comment|
            %article.review
              %li.row
                .col-md-8
                  - if @comments.count.to_i = 0
                    %p
                  - else
                    %p= comment.content

#bottompad