%article.posts
#bg
  .container.fluid
    .row
    %h2= @post.title
  %ul
  .container-fluid
    .row-fluid
      .span2
        .well
          .text-center
            %h4
            .btn-toolbar
              .btn-group.text-center
                .text-center
                  %h5
                    %i.icon-circle-arrow-up
                    votes
                    %i.icon-circle-arrow-down
      .span9
        .well
          %h4= link_to "#{@post.description}", @post.post_url
          %small
            posted by #{@post.creator.user_name} on #{display_datetime(@post.created_at)} 

  %section.comments
  %ul

  %ul
  = form_for [@post, Comment.new] do |f|
    .row-fluid
    - if logged_in?
      .container-fluid
        .row.offset2
          %h4 Add your comment:
      .container-fluid
        .row-fluid
          .span2
            .well
              .text-center
                %input(type="submit" value="Submit" class="btn btn-info")
                %p
                = link_to "Cancel",  @post, :class => "btn"
          .span9.offset1
            = f.text_area :content, rows: 5, class: 'col-md-10', placeholder: 'Type your comment here...'

  .container-fluid
    .row-fluid
      .span2
        %h4 User Comments:

    %article.review.clearfix
      - @comments.each do |comment|
        .row-fluid
          .span2
            %br
          .span9
            .well
              %p= comment.content
              %hr.divider
              %small posted by #{comment.creator.user_name} on #{display_datetime(comment.created_at)}

#bottompad