%article.word_posts
#bg

  - unless logged_in?
    .container-fluid
      %br
      %br
      .hero-unit.span10.offset1
        %h2 Hello and Welcome!
        %p
        Thank you for checking us out. Please feel free to enjoy the posts. In order to comment or vote on posts, you must register and log in first.
        %p
        .text-center
          %br
          = link_to "Click here to join", register_path,  class: 'btn btn-primary btn-large'
          
          = link_to "Click here to log in", login_path,  class: 'btn btn-success btn-large'

  .container-fluid
    .row-fluid
    %h3 Word Posts
  %ul
    - @posts.each do |post|
      .container-fluid
        .row-fluid
          .span2
            .well
              .text-center
                %h4
                  .btn-toolbar
                    .btn-group
                    %span
                      - if logged_in?
                        = link_to vote_post_path(post, vote: true), method: 'post', remote: true, class: 'btn btn-success btn-default', id: "Post_#{post.id}_upvote" do
                          %i.icon-circle-arrow-up
                        %i.btn.btn-default{:id => "post_#{post.id}_votes"}= post.total_votes
                        = link_to vote_post_path(post, vote: false), method: 'post', remote: true, class: 'btn btn-danger btn-default', id: "Post_#{post.id}_downvote" do
                          %i.icon-circle-arrow-down
                      - else
                        %span
                          %i.btn.btn-small{:id => "post_#{post.id}_votes"}= post.total_votes
                        %h5
                          votes
          .span9
            .well
              %h4
                = link_to post.title, post_path(post)
              %small
                posted by #{post.creator.user_name} on #{display_datetime(post.created_at)}
#bottompad